#questions.content.container
  .col-md-12
    %h1.questions 問題一覧
  #m_questions_index.content.container
    .col-md-12
      %h1 選択問題一覧
    .col-md-12

      %table
        - @m_questions.each do |m_question|
          %tr.col-md-12
            %td.col-md-10= m_question.content.gsub(/_blank_/, "(　　)")
            %td.col-md-2
              = link_to '表示する', kaitou_m_question_path(m_question), class: "btn-primary"
      %br
  #b_questions_index.content.container
    .col-md-12
      %h1 穴埋問題一覧
    .col-md-12
      %table
        - @b_questions.each do |b_question|
          %tr.col-md-12
            %td.col-md-10= b_question.content.gsub(/_blank_/, "(　　)")
            %td.col-md-2
              = link_to '表示する', kaitou_b_question_path(b_question), class: "btn-primary"
      %br

      = link_to '問題を作成する', new_question_path
