#m_question_form
  = form_for @m_question do |f|
    - if @m_question.errors.any?
      #error_explanation
        %h2= "#{pluralize(@m_question.errors.count, "error")} prohibited this m_question from being saved:"
        %ul
          - @m_question.errors.full_messages.each do |msg|
            %li= msg
    .field.col-md-12
      %h4
        選択問題を作成します。問題の内容を記入してください。
      .mondai_box
        = f.text_area :content, cols: 85, rows: 8
    .actions.col-md-12
      = f.submit '問題作成', class: "btn-primary"
