#m_answers_form.col-lg-12
  = form_for [@m_question, @m_answer] do |f|
    - if @m_answer.errors.any?
      #error_explanation
        %h2= "#{pluralize(@m_answer.errors.count, "error")} prohibited this m_answer from being saved:"
        %ul
          - @m_answer.errors.full_messages.each do |msg|
            %li= msg
    %h4 解答を作成します。正解のものにはチェックを入れてください。
    .row
      %table.col-lg-12
        %tr
          %td.col-lg-8
            .group
              .input-group
                %span.input-group-addon
                  = f.check_box :check
                = f.text_field :answer, class: "form-control"
          %td.col-lg-4
            .actions
              = f.submit 'Save', class: "btn-primary"
